<%- include("header") -%>
<body>
  <div class="container">
    <h1>Compose</h1>
    <form action="/compose" method="post">
      <div class="form-group">
        <label for="text">Title</label>
        <input
          type="text"
          name="posttitle"
          id="text"
          class="form-control"
          autocomplete="off"
        />
        <label for="post">Post</label>
        <textarea
          name="postbody"
          id="post"
          cols="30"
          rows="6"
          class="form-control"
          autocomplete="off"
        ></textarea>
      </div>
      <button type="submit" name="button" class="btn btn-primary">
        publish
      </button>
    </form>
  </div>
</body>
<%- include("footer") -%>
